import("snowfall","Rcpp","stats","graphics","grDevices")
useDynLib(hsphase, .registration = TRUE)
export(".simulateHalfsib","hh",".phfnoGenotype",".prSimple",".rpohhsphase",".fastdist",".prCalus",".maf",
".prManual", "ohplot","pogc",".ibdCluster",".fillGap",".o2tH",".fixRotation",".fixBothStrand",".hblock")
exportPattern("^[[:alpha:]]+")
